################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Demo Prj1/v17/.suo
/.vs/Demo Prj1/FileContentIndex/aaee8b16-a38d-4761-a22c-bad7a2ceba42.vsidx
